*.pyc
__pycache__/
*.db
.env
.venv
node_modules/

# Test files
**/test_*.mp4
**/test_*.png
**/test_*.txt
**/uploads/
**/nginx-*/
**/master.zip
**/__pycache__/
**/*.pyc

# Build artifacts
rtmp-server/

